*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: 'Ubuntu', sans-serif;
}
.main{
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 1%;
    margin: auto;
    border-radius: 5%;
}
.sign{
    padding-top: 10%;
    padding-bottom: 2%;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.name,.pass,.phone,.profilePic{
    width: 74%;
    color: #606c88;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 10%;
    margin-left: 13%;
    text-align: center;
    outline: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
header h1 {
    margin: 1% 2%;
    color: whitesmoke;
    font-size: 25px;
}
.name:focus,.pass:focus,.phone:focus,.profilePic:focus{
    border: 2px solid black;
}
.submit{
    cursor: pointer;
    border-radius: 5em;
    color:#00d2ff;
    background-color: white;
    border: 0px;
    padding: 10px 40px;
    /* margin-left: 45%; */
    font-size: 20px;
}

.modal{
    position: fixed;
    z-index: 100;
    border-radius: 10px;
    top: 20%;
    background: #282829;  /* fallback for old browsers */
    box-shadow: 0 1px 10px black ;
    display: none;
}
.modal.visible{
    display: block;
    animation: reverse 0.5s ease-out forwards;
}
.modal .modal__title{
    margin: 0;
    padding: 3%;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #00329e;
    background: #00329e;
    color: white;
}
.modal .modal__content{
    width: 70%;
    color: #606c88;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 3%;
    text-align: center;
    outline: none;
}
.btn:focus{
    border: 2px solid black;
}
.modal .modal__actions {
    padding: 3%;
    display: flex;
    justify-content: center;
  }
header button:hover,
header button:active {
    color: red;
    background-color: wheat;
    border: 2px solid wheat;
}
.btn {
    font: inherit;
    padding: 0.5% 1.5%;
    border: 1px solid rgb(41, 148, 41);
    background: rgb(41, 148, 41);
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 10px black;
    cursor: pointer;
    margin: 0 1%;
  }
.btn--passive{
  background: #d30808;
  color: white;
  border-color: #d30808;
}
#backdrop{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.87);
    display: none;
    pointer-events: none;
    z-index: 10;
    height: 100%;
}
#backdrop.visible{
    display: block;
    pointer-events: all;
}

/*
other page
*/
header h1{
    cursor: pointer;
}
.main2{
    background-color: khaki;
    padding-bottom: 1%;
    margin: auto;
    border-radius: 5%;
}
.title{
    padding-top: 5%;
    padding-bottom: 2%;
    color: tomato;
    font-size: 25px;
    font-weight: bold;
}
.name2,.avatar{
    width: 74%;
    letter-spacing: 1px;
    padding: 0.4%;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: 13%;
    text-align: center;
    outline: none;
}
div h1{
    color: navy;
    font-size: 30px;
}
div h4{
    color: teal;
    font-size: 20px;
}
div h3{
    color: rgb(38, 204, 204);
    font-size: 20px;
}
div p{
    color: black;
    font-size: 25px;
}

[class*="col-"]{
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 60%;
            left: 19%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }