*{
    box-sizing: border-box;
}
html{
    font-family: 'Ubuntu', sans-serif;
}

body{
    margin: 0;
    background: #404040;  /* fallback for old browsers */
  }

button:focus{
    outline: none;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
header h1 {
    margin: 1% 2%;
    color: whitesmoke;
    font-size: 25px;
}
.header-btn{
    padding: 0.75% 1.5%;
    border-radius: 20px;
    outline: none;
    background: #3f4c6b;
    border-color: #606c88;
    border: 2px solid darkslategray;
    color: #34e89e; 
    box-shadow: none;
    cursor: pointer;
}
/* .modal{
    position: fixed;
    z-index: 100;
    border-radius: 10px;
    top: 20%;
    background: #8f94fb;
    box-shadow: 0 1px 10px black ;
    display: none;
}
.modal.visible{
    display: block;
    animation: reverse 0.5s ease-out forwards;
}
.modal .modal__title{
    margin: 0;
    padding: 3%;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #00329e;
    background: #00329e;
    color: white;
}
.modal .modal__content{
    width: 70%;
    color: #606c88;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 3%;
    text-align: center;
    outline: none;
}
.btn:focus{
    border: 2px solid black;
}
.modal .modal__actions {
    padding: 3%;
    display: flex;
    justify-content: center;
  }
header button:hover,
header button:active {
    color: red;
    background-color: wheat;
    border: 2px solid wheat;
}
.btn {
    font: inherit;
    padding: 0.5% 1.5%;
    border: 1px solid rgb(41, 148, 41);
    background: rgb(41, 148, 41);
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 10px black;
    cursor: pointer;
    margin: 0 1%;
  }
.btn--passive{
  background: #d30808;
  color: white;
  border-color: #d30808;
}
#backdrop{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    pointer-events: none;
    z-index: 10;
    height: 100%;
}
#backdrop.visible{
    display: block;
    pointer-events: all;
} */
section{
    color:white;
    font-size: 25px;
    padding: 1%;
}
section p:first-child{
    padding-bottom: 7%;
}
.container{
    padding: 5%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 1px 10px black;
    -webkit-box-shadow:0 1px 10px black;
    text-align: center;
    background-color: white;
}
.container:hover .avatar-flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.avatar-flip {
    border-radius: 100px;
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
    top: -50px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 10px royalblue;
  }
  .avatar-flip img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }
.container:hover .avatar-flip img:first-child {
    opacity: 0;
  }
  .container:hover .avatar-flip img:last-child {
    opacity: 1;
}
.avatar-flip img:first-child {
    z-index: 1;
  }
  .avatar-flip img:last-child {
    z-index: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    opacity: 0;
  }
div h2{
    color: black;
    font-size: 30px;
}
div h4{
    color: teal;
    font-size: 20px;
}
div p{
    color: black;
    font-size: 25px;
}
.btn-show{
    color: red;
    background: transparent;
    border: none;
    padding: 1%;
    box-shadow: none;
}
.btn1{
    font: inherit;
    padding: 0.5% 1.5%;
    border: none;
    background: transparent;
    color: teal;
    box-shadow: none;
    cursor: pointer;
    padding: 1%;
    margin: 0 1%;
}
.btn-show:focus{
    border: none;
}
[class*="col-"]{
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 60%;
            margin-left: 20%}
    .col-8 {width: 66%;
            margin-left: 17%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }